.selector {
    column-count: 3;
    column-count: 3;
    column-count: 3;
    column-gap: 1.5em;
    column-gap: 1.5em;
    column-gap: 1.5em;
    column-rule: 2px solid hotpink;
    column-rule: 2px solid hotpink;
    column-rule: 2px solid hotpink;
  }